h1{color: aquamarine;
    font-family:fantasy;}
    p{color: cornflowerblue;}
    h2{color: blue;}
    h3{color:blueviolet;}
    h4{color:crimson;}
    h5{color:darkcyan;}
    h6{color:deeppink;}
    body{background-color: rgb(23, 59, 59);
    font-family: cursive
    ;}
    hr{color: azure;}
    ul{color: black;}
    ol{color: blue;}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #875252;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }